*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: sans-serif;
	margin: 2rem;

	box-sizing: border-box;
}

h1 {
	font-size: 3.5rem;
	margin: 1rem 0;
	text-align: center;
}

h2 {
	font-size: 2.5rem;
	margin: 0;
}

.container {
	display: grid;
}

.play-section {
	margin-bottom: 2rem;
}

.card-display img {
	height: 20rem;
	/* width: auto; */
}

.card-display div {
	display: inline-block;
}

footer {
	font-size: 1.2rem;
}